Задача 1

Создать массив (50 элементов) случайных натуральных чисел от -100 до 100

Вывести в цикле данные массива подписывая их "отрицательное/положительное/ноль это тоже число: x" в зависимости от значения икса


Задача 2

Создать локальный json файл, формата:

{ "id": [

"name":"Имя" ,

"number":"укр моб номер телефона"

] }

наполнить пару значений
Реализовать чтения json файла,

вывод данных файла на экран, функцию, которая  возвращают номер абонента без кода страны и кода оператора"

функцию которая возращает имя оператора в зависимости от кода номера (используем ток киевстар 096, водафон 050, лайф 093 в данных)  мо



Задача 3

Вынести функции из задачи 2 в отдельный файл, использовать их как подключаемый модуль



Задача 4

Создать класс Человек, и дочерний класс Сотрудник

Создать свойста "Имя, пол, позиция, зарплата"

Создать методы "встать, сесть, лечь, пойти на работу, залогировать время"

методы содежрат вывод текста на экран, с описанием дейсвтия " "Имя" ("пол") выполний дейсвтие "действие" , работая на позиции "позиции" за "зарплата" денег"